.TODO_LIST {
  padding: 12px;
}

.task-introduce-wrapper {
  border: 1px solid #3b7af0;
  background-color: #b7c8e7;
}

.task-introduce {
  padding: 12px 0;
}

.task-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
}

.task-detail>.icon {
  color: blue;
  padding-right: 12px;
}

.task-detail>.detail {
  flex: 1;
}

.task-detail>.view-detail {
  color: #FFF;
}

.task-list {
  margin: 12px 0;
}
